@import 'partials';

.modal {
    display: none;
    width: 600px;
    max-width: 100%;
    border-radius: $radius;
    overflow: auto;

    @include shadow();

    @include mo(xs) {
        box-shadow: none;
        border-radius: 0;
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 24px;

        @include mo(xs) {
            font-size: 24px;
            padding-right: 42px;
        }
    }

    &__footer {
        margin-top: 16px;
    }
}
