@use 'sass:math';

@import 'partials';

@keyframes fadeOutPreloader {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0.01;
    }

    100% {
        z-index: -1;
        opacity: 0;
    }
}

.preloader {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;

    &__spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $spinner-size;
        height: $spinner-size;
        margin-top: #{math.div($spinner-size, 2) * -1};
        margin-left: #{math.div($spinner-size, 2) * -1};
    }

    .is-ready & {
        animation: fadeOutPreloader 0.3s ease-in-out forwards;
    }
}
