@import '../../partials';

.outdated {
    width: 100%;
    position: relative;
    font-size: 12px;
    background: $primary;
    padding: 15px 0;
    z-index: 999;

    &, a {
        color: $white;
    }

    a {
        text-decoration: underline;

        @include hover() {
            text-decoration: none;
        }
    }

    p {
        margin: 0;
    }
}
