noindex
    .outdated
        .container
            p
                | Вы используете устаревший браузер, поэтому некоторые элементы сайта могут отображаться неправильно и работать с ошибками.
                br
                | Для корректной работы этого сайта и большинства других Вам необходимо #[a(target="_blank" rel="nofollow" href="http://browsehappy.com/?locale=ru_RU") обновить браузер].