@import "../../styles/config";
@import "../../styles/partials";

@import "../../../node_modules/normalize.css/normalize";

$primary: #f23e30;
$green: #2ab973;
$yellow: #FFAC05;
$blue: #2181ff;
$peach: #f9edd7;

/* Common */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shakes {
    10% {
        transform: translate(4px, 5px);
    }

    20% {
        transform: translate(3px, 5px);
    }

    30% {
        transform: translate(3px, 3px);
    }

    40% {
        transform: translate(5px, 5px);
    }

    50% {
        transform: translate(5px, 4px);
    }

    60% {
        transform: translate(1px, 4px);
    }

    70% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, 4px);
    }

    90% {
        transform: translate(1px, 5px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes pulse {
    10% {
        transform: scale(1.1);
    }
}

@keyframes pulsecolor {
    10% {
        background: darken($primary, 10%);
    }
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100% 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    min-height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 1140px;
    max-width: 100%;
    padding: 0 15px;
    margin: auto;

    @include ms(xl) {
        width: 960px;
    }

    @include ms(lg) {
        width: 720px;
    }

    @include ms(md) {
        width: 540px;
    }

    @include mo(xs) {
        width: 100%;
    }
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    animation: fadeIn .8s ease-in-out forwards;
    overflow: hidden;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        animation: fadeIn .8s ease-in-out forwards;
    }

    &:after {
        z-index: -2;
        @include bg-filler('../common/images/badge.svg', 10%, top 5vh right 5%);

        @include mo(xs) {
            display: none;
        }
    }

    &:before {
        z-index: -3;
        @include bg-filler('../common/images/clouds.svg', cover, bottom center);
    }
}

figure {
    display: block;
    position: absolute;
    width: 71%;
    padding-bottom: 37%;
    bottom: -1%;
    right: -9%;
    opacity: 0;
    z-index: -1;
    @include bg-filler('../common/images/developer.svg');
    animation: fadeIn .8s ease-in-out forwards;

    @include ms(lg) {
        display: none;
    }
}

main {
    flex: 1;
    padding-top: 50px;

    @include mo(xs) {
        padding-top: 25px;
    }
}

footer {
    font-size: 16px;
    padding: 75px 0 35px;

    @include mo(xs) {
        padding-top: 50px;
        padding-bottom: 15px;
    }

    p {
        margin-bottom: 5px;
    }
}

h1, h2, h3 {
    @include ms(md) {
        line-height: 1.25;
    }
}

h1 {
    font-size: 52px;
    margin-top: 0;
    margin-bottom: 35px;

    @include ms(lg) {
        font-size: 42px;
    }

    @include ms(md) {
        font-size: 32px;
        margin-bottom: 25px;
    }

    @include mo(xs) {
        font-size: 28px;
        margin-bottom: 20px;
    }
}

h2, h3 {
    @include ms(md) {
        font-size: 22px;
    }
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;

    @include ms(md) {
        margin-top: 35px;
        margin-bottom: 15px;
    }
}

h3 {
    margin-top: 35px;

    @include ms(md) {
        margin-top: 25px;
    }
}

a {
    color: $primary;

    &:hover {
        text-decoration: none;
    }
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 20px 0;

    li {
        position: relative;
        margin-bottom: 5px;
    }
}

ol {
    counter-reset: num;

    li {
        &:before {
            content: counter(num) '. ';
            counter-increment: num;
            display: inline-block;
            margin-right: 5px;
        }
    }
}

p {
    margin-bottom: 15px;

    @include ms(md) {
        margin-bottom: 10px;
    }
}

.section {
    margin-top: 35px;

    &:first-child {
        margin-top: 0;
    }

    &--vendors {
        @include ml(md) {
            padding-right: 40%;
        }
    }
}

.files {
    columns: 2;

    $types: html, css, js, json, zip, component;

    .section--globals &,
    .section--zip & {
        columns: 1;
    }


    @include ms(lg) {
        columns: 1;
    }

    &__item {
        padding-left: 40px;
        margin-bottom: 7px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 26px;
            height: 26px;
            @include bg-filler();
        }

        @each $type in $types {
            &--#{$type} {
                &:before {
                    background-image: url('../common/images/#{$type}.svg');
                }
            }
        }
    }

    p + & {
        margin-top: 30px;
    }
}

.vendors {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin-top: 25px;

    &__item {
        width: auto;
        display: inline-flex;
        background: $green;
        color: $white;
        padding: 5px 12px;
        margin: 0 10px 10px 0;
        border-radius: 5px;

        &:before {
            display: none;
        }

        &--css {
            background: $blue;
        }

        &--js {
            background: $green;
        }
    }
}

.heart {
    $size: 16px;

    display: inline-block;
    position: relative;
    top: 3px;
    width: $size;
    height: $size * .9;
    margin: 0 5px;
    animation: pulse 1s infinite;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: $size / 2;
        top: 0;
        width: $size / 2;
        height: $size * .8;
        background: $primary;
        border-radius: $size / 2 $size / 2 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
        animation: pulsecolor 1s infinite;
    }

    &:after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
    }
}

.modified {
    font-size: 13px;
    opacity: .25;
}