@mixin burger($width: $burger-width, $thickness: $burger-thickness, $gutter: $burger-gutter, $color: $burger-color, $border-radius: $burger-border-radius, $transition-duration: $burger-transition-duration) {
    position: relative;
    margin-top: $thickness + $gutter;
    margin-bottom: $thickness + $gutter;
    user-select: none;

    &, &:before, &:after {
        display: block;
        width: $width;
        height: $thickness;
        transition-duration: $transition-duration;
        transition-property: background-color, transform;
        outline: 1px solid transparent;
        background-color: $color;

        @if $border-radius != 0 {
            border-radius: $border-radius;
        }
    }

    &:before, &:after {
        position: absolute;
        content: '';
    }

    &:before {
        top: -($thickness + $gutter);
    }

    &:after {
        top: $thickness + $gutter;
    }
}

@mixin burger-parts {
    &, &:before, &:after {
        @content;
    }
}

@mixin burger-top {
    &:before {
        @content;
    }
}

@mixin burger-middle {
    & {
        @content;
    }
}

@mixin burger-bottom {
    &:after {
        @content;
    }
}

@mixin burger-to-cross($color: auto) {
    & {
        background-color: transparent;
    }

    @if ($color != auto) {
        &:before, &:after {
            background-color: $color;
        }
    }

    &:before {
        transform: translateY($burger-gutter + $burger-thickness) rotate(45deg);
    }

    &:after {
        transform: translateY(-($burger-gutter + $burger-thickness)) rotate(-45deg);
    }
}
