@mixin font-face($name, $path, $weight: 400, $style: normal, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
        eot: '?',
        svg: '##{str-replace($name, ' ', '_')}'
    );

    $formats: (
        otf: 'opentype',
        ttf: 'truetype'
    );

    /* stylelint-disable */
    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        src: $src;
        font-weight: $weight;
        font-style: $style;
    }
    /* stylelint-enable */
}

@mixin font-size($min-size, $max-size, $min-screen: 375, $max-screen: 1920) {
    $size: strip-unit($max-size - $min-size);
    $max-width: strip-unit($max-screen) - $min-screen;

    font-size: calc(#{$min-size}px + #{$size} * ((100vw - #{$min-screen}px) / #{$max-width}));
}

@mixin icomoon-base {
    font-family: $icomoon-font-family !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    text-rendering: auto;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin icomoon($icon, $position: before, $replace: false) {
    @if $replace {
        font-size: 0;
    }

    &:#{$position} {
        content: map-get($icons, $icon);

        @include icomoon-base();

        @if $replace {
            font-size: 1rem;
        }

        @content;
    }
}

@mixin fa-base {
    font-family: FontAwesome !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;
    text-rendering: auto;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin fa($icon, $position: before, $replace: false) {
    @if $replace {
        font-size: 0;
    }

    &:#{$position} {
        content: map-get($fa-icons, $icon);

        @include fa-base;

        @if $replace {
            font-size: 1rem;
        }

        @content;
    }
}

@mixin clearfix {
    *zoom: 1;

    &:after {
        line-height: 0;
        display: table;
        clear: both;
        content: '';
    }
}

@mixin truncate($overflow: ellipsis) {
    white-space: nowrap;
    text-overflow: $overflow;
    display: block;
    overflow: hidden;
}

@mixin transition($transitions...) {
    $unfolded-transitions: ();

    @if length($transitions) > 0 {
        @each $transition in $transitions {
            $unfolded-transitions: append($unfolded-transitions, unfold-transition($transition), comma);
        }
    } @else {
        $unfolded-transitions: append($unfolded-transitions, unfold-transition(all), comma);
    }

    /* stylelint-disable */
    transition: $unfolded-transitions;
    /* stylelint-enable */
}

@mixin triangle($direction: bottom, $size: 6px, $border-color: $border) {
    $directions: top, right, bottom, left;

    & {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
    }

    @include transition(transform);

    @for $i from 1 through length($directions) {
        @if nth($directions, $i) == $direction {
            border-#{get-item($directions, $i, -1)}: $size solid transparent;
            border-#{get-item($directions, $i, 1)}: $size solid transparent;
            border-#{get-item($directions, $i, 2)}: $size solid $border-color;
        }
    }

    @content;
}

@mixin chevron($direction: bottom, $size: 6px, $border-color: $border, $thickness: 1px) {
    $rotation: 45deg;

    & {
        content: '';
        display: inline-block;
        width: $size;
        height: $size;
        transform: rotate($rotation);
        border: solid $border-color;
        border-width: $thickness $thickness 0 0;
    }

    @if $direction == right {
        $rotation: 45deg;
    } @else if $direction == bottom {
        $rotation: 135deg;
    } @else if $direction == left {
        $rotation: 225deg;
    } @else if $direction == top {
        $rotation: 315deg;
    }

    @include transition(transform);

    @content;
}

@mixin placeholder() {
    &::placeholder {
        opacity: 1;
        @content;
    }

    &:-moz-placeholder {
        opacity: 1;
        @content;
    }

    &::-moz-placeholder {
        opacity: 1;
        @content;
    }

    &:-ms-input-placeholder {
        opacity: 1;
        @content;
    }

    &::-ms-input-placeholder {
        opacity: 1;
        @content;
    }

    &::-webkit-input-placeholder {
        opacity: 1;
        @content;
    }
}

@mixin autofill() {
    &:-webkit-autofill {
        &, &:hover, &:focus, &:active {
            @content;
        }
    }
}

@mixin shadow($color: $shadow-color, $depth: $shadow-depth, $x: $shadow-x, $y: $shadow-y, $blur: $shadow-blur, $spread: $shadow-spread) {
    box-shadow: $x $y $blur $spread #{rgba($color, $depth)};
}

@mixin col($items, $gutter: 15px) {
    @if $items != 1 {
        margin-right: $gutter;

        @if unit($gutter) == '%' {
            width: #{(100% - $gutter * ($items - 1)) / $items};
        } @else {
            width: calc((100% - #{$gutter * ($items - 1)}) / #{$items});
        }

        &:nth-child(#{$items}n) {
            margin-right: 0;
        }
    } @else {
        width: 100%;
    }
}

@mixin touch-scroll($direction: x) {
    flex-wrap: nowrap;
    overflow-#{$direction}: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: $direction mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;

    @if ($direction == x) {
        padding-bottom: 15px;
    }

    &::-webkit-scrollbar {
        display: none;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

@mixin touch-scroll-snap() {
    scroll-snap-align: center;
}

@mixin scrollbar($color: #ccc, $size: 6px) {
    appearance: none;
    -webkit-overflow-scrolling: auto;

    &::-webkit-scrollbar {
        &, * {
            background: transparent;
        }

        &, &-track {
            display: block;
        }

        &::vertical {
            width: $size * 3;
        }

        &::horizontal {
            height: $size * 3;
        }

        &-track {
            &-piece {
                display: none;
            }
        }

        &-thumb {
            width: $size;
            border: $size solid transparent;
            border-radius: $size * 4;
            background: $color;
            background-clip: padding-box;

            &::window-inactive {
                background: lighten($color, 5%);
            }

            &:focus {
                background: darken($color, 5%);
            }
        }
    }
}

@mixin fit-to-parent() {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

@mixin img-filler($fit: contain) {
    position: relative;

    img {
        object-fit: $fit;

        @include fit-to-parent();
        @content;
    }
}

@mixin img-cover($fit: cover) {
    @include img-filler($fit) {
        @content;
    }
}

@mixin bg-filler($url: null, $size: contain, $position: center) {
    background: {
        size: $size;
        position: $position;
        repeat: no-repeat;
    }

    @if ($url) {
        background-image: url($url);
    }

    @content;
}

@mixin bg-cover($url: null, $size: cover, $position: center) {
    @include bg-filler($url, $size, $position) {
        @content;
    }
}

@mixin retina() {
    @include mr() {
        @content;
    }
}

@mixin bg-2x($image) {
    @include mr() {
        background-image: url($image);
    }
}

@mixin ratio($width, $height) {
    padding-bottom: ($height / $width) * 100%;
}

@mixin replace-parent($original, $replacement, $selector: &) {
    @at-root #{selector-replace($selector, $original, $replacement)} {
        @content;
    }
}

@mixin backface-fix() {
    //-webkit-transform: translate3d(0,0,0);
    transform: translateZ(0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    perspective: 1000;
}

@mixin hover() {
    &:hover, &:active, &:focus {
        @content;
    }
}

@mixin ie() {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin edge() {
    @supports (-ms-ime-align: auto) {
        @content;
    }
}
