@import '../../partials';

$input-size: round($input-font-size * $input-factor);
$input-height: $input-font-size * $line-height + nth($input-padding, 1) * 2 + $input-border-width * 2;

$switcher-width: $input-size * $switcher-width-factor;
$switcher-x: $input-size * (1 - $switcher-dot-factor) / 2;
$switcher-x-active: $input-size * ($switcher-width-factor * 2 - $switcher-dot-factor - 1) / 2;
$switcher-y: $input-size * (1 - $switcher-dot-factor) / 2;

$select-angle-size: $input-height * $select-angle-factor;
$select-angle-real-size: $select-angle-size * sin(45deg) + $select-angle-size * cos(45deg);
$select-angle-position: $select-angle-real-size / 2;

$button-padding-y: nth($input-padding, 1) - ($button-border-width - $input-border-width);
$button-padding-x: nth($input-padding, 2) - ($button-border-width - $input-border-width);

$button-padding-y-small: $button-padding-y * nth($button-ratio-small, 1);
$button-padding-x-small: $button-padding-x * nth($button-ratio-small, 2);

$button-padding-y-normal: $button-padding-y * nth($button-ratio-normal, 1);
$button-padding-x-normal: $button-padding-x * nth($button-ratio-normal, 2);

$button-padding-y-large: $button-padding-y * nth($button-ratio-large, 1);
$button-padding-x-large: $button-padding-x * nth($button-ratio-large, 2);

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='number'],
textarea,
button {
    .form & {
        box-shadow: none!important;
        outline: 0!important;
        appearance: none;

        &:disabled,
        &[readonly] {
            opacity: $disabled-opacity;
        }
    }
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='number'],
textarea {
    .form & {
        font-size: $input-font-size;
        width: 100%;
        max-width: 100%;
        padding: $input-padding;
        border: $input-border-width solid $input-border-color;
        border-radius: $input-radius;

        &:focus {
            border-color: $input-border-color-focus;
        }

        @include transition(border-color);

        @include autofill() {
            box-shadow: 0 0 0 30px $white inset !important;
        }

        @include mo(xs) {
            padding-right: round(nth($input-padding, 2) * $input-padding-xs-factor);
            padding-left: round(nth($input-padding, 2) * $input-padding-xs-factor);
        }

        @include placeholder() {
            color: $placeholder-color;
        }
    }

    .js-focus & {
        @include placeholder() {
            color: transparent;
        }
    }
}

input[type='number'] {
    .form & {
        appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
    }
}

textarea {
    .form & {
        min-height: $textarea-height;
    }
}

label {
    .form & {
        display: inline-block;
        max-width: 100%;
        margin-bottom: $form-gutter / 2;
    }
}

input[type='checkbox'],
input[type='radio'],
input[type='file'],
select {
    .form & {
        display: none;
        visibility: hidden;
    }
}

input[type='checkbox'],
input[type='radio'] {
    .form & {
        & + label {
            font-size: $input-font-size;
            position: relative;
            margin-bottom: 0;
            padding-left: $input-size * $input-offset-factor;
            cursor: pointer;

            &:before, &:after {
                position: absolute;
                top: ($input-font-size * $line-height - $input-size) / 2;
                left: 0;

                @include transition();
            }

            &:before {
                vertical-align: middle;
                display: inline-flex;
                width: $input-size;
                height: $input-size;
                content: '';
                border: $input-border-width solid $border;
                border-radius: $input-radius / 2;
            }

            &:after {
                display: block;
                content: '';
                opacity: 0;

                @include transition();
            }
        }

        &:checked {
            & + label {
                &:after {
                    opacity: 1;
                }
            }

            &.switch {
                & + label {
                    &:before {
                        background: $switcher-active-bg;
                    }

                    &:after {
                        transform: translate($switcher-x-active, $switcher-y);
                        background: $switcher-active-color;
                    }
                }
            }
        }

        &:disabled,
        &[readonly] {
            & + label {
                opacity: $disabled-opacity;
                pointer-events: none;
            }
        }
    }
}

input[type='checkbox'] {
    .form & {
        & + label {
            &:after {
                width: round($input-size / 4);
                height: round($input-size / 2);
                transform: rotate(45deg) translate($input-size / 2.5, -$input-size / 8);
                transform-origin: 50% 50%;
                border: solid $checkbox-color;
                border-width: 0 $checkbox-thickness $checkbox-thickness 0;
            }
        }

        &:checked {
            & + label {
                &:before {
                    border-color: $checkbox-color;
                }
            }
        }

        &.switch {
            & + label {
                display: inline-block;
                padding-left: $input-size * ($input-offset-factor + 1);

                &:before {
                    width: $switcher-width;
                    border-width: $switcher-border-width;
                    border-color: $switcher-border-color;
                    border-radius: $input-size;
                    background: $switcher-bg;
                }

                &:after {
                    width: $input-size * $switcher-dot-factor;
                    height: $input-size * $switcher-dot-factor;
                    opacity: 1;
                    transform: translate($switcher-x, $switcher-y);
                    border: 0;
                    border-radius: 50%;
                    background: $switcher-color;
                }
            }

            &:checked {
                & + label {
                    &:before {
                        border-color: $switcher-active-border-color;
                    }
                }
            }
        }
    }
}

input[type='radio'] {
    .form & {
        & + label {
            &:after {
                line-height: $input-size;
                display: table;
                width: $input-size * $radio-factor;
                height: $input-size * $radio-factor;
                transform: translate($input-size * (1 - $radio-factor) / 2, $input-size * (1 - $radio-factor) / 2);
                border-radius: 50%;
                background: $radio-color;
            }

            &:before {
                border-radius: 50%;
            }
        }

        &:checked {
            & + label {
                &:before {
                    border-color: $radio-color;
                }
            }
        }

        &:disabled,
        &[readonly] {
            & + label {
                opacity: $disabled-opacity;
                pointer-events: none;
            }
        }
    }
}

input[type='file'] {
    .form & {
        & + label {
            width: auto;
            margin: 0;
            padding: $input-padding;
            cursor: pointer;
            border: $input-border-width solid $input-border-color;
            border-radius: $input-radius;

            @include truncate();
            @include transition(border-color);

            @include mo(xs) {
                padding-right: round(nth($input-padding, 2) * $input-padding-xs-factor);
                padding-left: round(nth($input-padding, 2) * $input-padding-xs-factor);
            }
        }
    }

    .is-focused &,
    .is-checked & {
        & + label {
            border-color: $primary;
        }
    }

    .is-checked & {
        & + label {
            color: $primary;
        }
    }
}

.js-focus {
    label {
        position: absolute;
        top: nth($input-padding, 1) + $input-border-width;
        left: nth($input-padding, 2) + $input-border-width;
        margin-bottom: 0;
        transition: font-size 0.15s ease-in-out, top 0.15s ease-in-out;

        @include mo(xs) {
            left: round(nth($input-padding, 2) * $input-padding-xs-factor) + $input-border-width;
        }
    }

    &.is-focused,
    &.is-checked {
        label {
            font-size: $input-font-size * 0.6;
            top: nth($input-padding, 1) / 2;
        }

        input,
        textarea {
            padding: nth($input-padding, 1) * 1.5 nth($input-padding, 2) nth($input-padding, 1) / 2;

            @include mo(xs) {
                padding-right: round(nth($input-padding, 2) * $input-padding-xs-factor);
                padding-left: round(nth($input-padding, 2) * $input-padding-xs-factor);
            }
        }
    }
}

.select {
    $this: &;
    position: relative;
    width: $select-width;
    max-width: 100%;

    @include mo(xs) {
        width: 100%;
    }

    &__element,
    &__input {
        width: 100%;
    }

    &__element {
        position: absolute;
        top: 0;
        left: 0;
        height: $input-height;
        appearance: none;
        opacity: 0;

        @include mo(xs) {
            z-index: 2;
            display: block;
            visibility: visible;
        }
    }

    &__input,
    &__dropdown {
        font-size: $input-font-size;
        width: 100%;
        max-width: 100%;
        padding: $input-padding;
        border-radius: $input-radius;

        @include mo(xs) {
            padding-right: round(nth($input-padding, 2) * $input-padding-xs-factor);
            padding-left: round(nth($input-padding, 2) * $input-padding-xs-factor);
        }
    }

    &__input {
        color: $placeholder-color;
        position: relative;
        z-index: 1;
        padding-right: $select-angle-size + nth($input-padding, 2) * 2!important;
        cursor: pointer;
        border: $input-border-width solid $input-border-color;

        @include truncate();
        @include transition();

        &:after {
            position: absolute;
            top: calc(50% - #{$select-angle-real-size / 2 - $input-border-width});
            right: nth($input-padding, 2);
            display: block;
            width: $select-angle-size;
            height: $select-angle-size;
            content: '';
            transform: rotate(45deg);
            transform-origin: $select-angle-position $select-angle-position;
            border: solid $select-angle-color;
            border-width: 0 $select-angle-border-width $select-angle-border-width 0;

            @include transition();
        }

        #{$this}.is-focused &,
        #{$this}.is-opened & {
            color: $primary;
            border-color: $select-color;

            &:after {
                top: ($input-height - $select-angle-real-size - $select-angle-border-width) / 2;
                transform: rotate(-135deg);
                border-color: $select-color;
            }
        }

        #{$this}.is-checked & {
            color: $white;
            border-color: $select-color;
            background: $select-color;

            &:after {
                border-color: $white;
            }
        }
    }

    &__dropdown {
        position: absolute;
        z-index: 2;
        top: 125%;
        left: 0;
        display: none;
        height: auto;
        max-height: $select-dropdown-height;
        padding: 0;
        box-shadow: $select-dropdown-shadow;
        opacity: 0;
        border: $select-dropdown-border solid $select-dropdown-border-color;
        background: $white;

        @include transition(opacity);

        #{$this}.is-opened & {
            display: block;
            animation: fadeIn 0.15s ease-in-out forwards;
        }

        @include mo(xs) {
            display: none;
        }
    }

    &__item {
        color: $text;
        display: block;
        padding: nth($input-padding, 1) * nth($select-item-ratio, 1) nth($input-padding, 2) * nth($select-item-ratio, 2);
        cursor: pointer;

        @include transition(color, background);

        @include mo(xs) {
            padding-right: round(nth($input-padding, 2) * $input-padding-xs-factor);
            padding-left: round(nth($input-padding, 2) * $input-padding-xs-factor);
        }

        @include hover() {
            color: $select-hover-item-color;
            background: $select-hover-item-bg;
        }

        &.is-active {
            color: $select-active-item-color;
            background: $select-active-item-bg;
        }
    }
}

.btn {
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    text-shadow: $button-text-shadow;
    text-align: center;
    text-decoration: none!important;
    display: inline-block;
    padding: $button-padding-y-normal $button-padding-x-normal;
    box-shadow: $button-shadow;
    border: $button-border-width solid;
    border-radius: $button-radius;
    outline: 0 !important;

    &:focus {
        box-shadow: none!important;
    }

    @include mo(xs) {
        width: 100%;
        padding-right: $button-padding-x-normal * $button-padding-xs-factor;
        padding-left: $button-padding-x-normal * $button-padding-xs-factor;
    }

    p + & {
        margin-top: 20px;
    }

    @mixin button-bg($type, $color) {
        color: $button-text;
        border-color: $color;
        background: $color;

        @include hover() {
            color: $button-text;
            border-color: lighten($color, $button-hover-depth);
            background: lighten($color, $button-hover-depth);
        }
    }

    &--light {
        color: $text;
        text-shadow: none;
        border-color: lighten($primary, 55%);
        background: lighten($primary, 55%);

        @include hover() {
            color: $text;
            border-color: lighten($primary, 57%);
            background: lighten($primary, 57%);
        }
    }

    &--white,
    &--border {
        color: $primary;
        background: $white;

        @include hover() {
            color: $white;
            background: lighten($primary, $button-hover-depth);
        }
    }

    &--white {
        text-shadow: none;
    }

    &--round {
        padding-right: $button-padding-x-normal * nth($button-ratio-round, 2);
        padding-left: $button-padding-x-normal * nth($button-ratio-round, 2);
        border-radius: $button-radius * $button-round-factor;
    }

    &--square {
        border-radius: 0;
    }

    &--small {
        padding: $button-padding-y-small $button-padding-x-small;

        &.btn--round {
            padding-right: $button-padding-x-small * nth($button-ratio-round, 2);
            padding-left: $button-padding-x-small * nth($button-ratio-round, 2);
        }
    }

    &--large {
        padding: $button-padding-y-large $button-padding-x-large;

        &.btn--round {
            padding-right: $button-padding-x-large * nth($button-ratio-round, 2);
            padding-left: $button-padding-x-large * nth($button-ratio-round, 2);
        }
    }

    &--disabled {
        opacity: $disabled-opacity;
        pointer-events: none;
        filter: grayscale(1);
    }

    .form__group & {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-height: $input-height;
    }
}
