@import '../../partials';

.modal {
    display: none;
    width: 600px;
    max-width: 100%;
    border-radius: $radius;

    @include shadow();

    @include mo(xs) {
        box-shadow: none;
        border-radius: 0;
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.25;
        margin-bottom: 25px;

        @include mo(xs) {
            font-size: 24px;
            padding-right: 25px;
        }
    }

    &__footer {
        margin-top: 35px;
    }
}
