$breakpoints: (
    xs: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

$containers: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
) !default;

$gutter: 15px;

$font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-size: 16px;
$line-height: 1.5;

$duration: .15s;
$easing: ease-in-out;

$white: #fff;
$black: #000;

$primary: #42517A;
$text: #20344B;
$body-background: $white;
$border: #C7CCD2;

$gray: #808899;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$blue:    $primary;
$red:     #c65845;
$yellow:  #ffc107;
$green:   #09a758;
$cyan:    #099ea7;

$colors: (
    'blue': $blue,
    'red': $red,
    'yellow': $yellow,
    'green': $green,
    'cyan': $cyan,
    'gray': $gray-600,
    'gray-dark': $gray-800
);

$brand-colors: (
    vk: #5181B8,
    facebook: #297CC1,
    twitter: #4DABDF,
    instagram: linear-gradient(45deg, #FFE4BB 0%, #E8A339 19.69%, #DE2E8B 51.3%, #5951D6 96.29%)
) !default;

$shadow-x: 0;
$shadow-y: 0;
$shadow-blur: 18px;
$shadow-spread: 0;
$shadow-color: $black;
$shadow-depth: 0.07;

$disabled-opacity: 0.2;
$hover-depth: 5%;

$radius: 6px;

$border-width: 1px;
$form-gutter: 25px;

$placeholder-color: $gray-400;

$input-padding: 12px 18px;
$input-padding-xs-factor: 0.8;
$input-font-size: $font-size;
$input-radius: $radius;
$input-border-color: $border;
$input-border-color-focus: $primary;
$input-border-width: $border-width;
$input-factor: 1.35;
$input-offset-factor: 1.85;

$textarea-height: 215px;

$button-text: $white;
$button-text-shadow: none;
$button-font-weight: normal;
$button-shadow: none;
$button-font-size: $font-size;
$button-radius: $radius;
$button-border-width: $border-width;
$button-hover-depth: $hover-depth;
$button-padding: $input-padding;
$button-padding-xs-factor: $input-padding-xs-factor;

$button-ratio-small: 1 1;
$button-ratio-normal: 1.15 1.5;
$button-ratio-large: 1.25 1.75;
$button-ratio-round: 1 1;

$button-round-factor: 10;

$switcher-width-factor: 2;
$switcher-dot-factor: 0.75;

$switcher-color: $primary;
$switcher-bg: $white;
$switcher-border-width: $input-border-width;
$switcher-border-color: $border;

$switcher-active-color: $white;
$switcher-active-bg: $primary;
$switcher-active-border-color: $primary;

$checkbox-color: $primary;
$checkbox-thickness: 2px;

$radio-factor: 0.5;
$radio-color: $primary;

$select-width: 550px;
$select-color: $primary;
$select-hover-item-color: lighten($text, 25%);
$select-hover-item-bg: transparent;
$select-active-item-color: $text;
$select-active-item-bg: rgba($select-color, 0.05);
$select-angle-color: darken($border, 20%);
$select-angle-border-width: $input-border-width;
$select-angle-factor: 0.2;
$select-item-ratio: 0.75 1;
$select-dropdown-height: 215px;
$select-dropdown-border: 0;
$select-dropdown-border-color: $border;
$select-dropdown-shadow: 1px 3px 7px 4px rgba(0, 0, 0, 0.05);

$ul-size: 7px;

$icomoon-prefix: 'icon--';
$icomoon-font-name: 'icomoon';
$icomoon-font-family: 'icomoon';

$formats-list: doc docx xls xlsx rtf pdf zip;

$spinner-size: 4em;
$spinner-color: $primary;

$menu-breakpoint: md;

$burger-width: 30px;
$burger-thickness: 5px;
$burger-gutter: 3px;
$burger-color: $primary;
$burger-border-radius: 0;
$burger-transition-duration: 0.3s;
