block variables

doctype html
html(lang="ru" class="mode--" + mode)
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="shortcut icon" href="common/images/favicon.png" type="image/x-icon")
		title #{title}
		|
		|
		// CSS
		<!-- inject:css --><!-- endinject -->
	body(class="page page--" + layout)
		// Outdated browser
		// include ../includes/outdated.pug
		|
		|
		// Wrapper
		.wrapper
			|
			|
			// Header
			header.header
				.container
			|
			|
			// Main
			main.main(role="main")
				block content
			|
			|
			// Footer
			footer.footer
				.container
		|
		|
		// Topper
		#topper.topper
		|
		|
		// Modals
		include ../includes/modals/success.pug
		|
		|
		// JS
		<!-- inject:js --><!-- endinject -->
