@import '../partials';
@import '../icons';

@if (length($icons) > 0) {
    @font-face {
        font-family: '#{$icomoon-font-family}';
        src: url('../fonts/#{$icomoon-font-name}.eot?7sxir3');
        src: url('../fonts/#{$icomoon-font-name}.eot?7sxir3#iefix') format('embedded-opentype'),
            url('../fonts/#{$icomoon-font-name}.ttf?7sxir3') format('truetype'),
            url('../fonts/#{$icomoon-font-name}.woff?7sxir3') format('woff'),
            url('../fonts/#{$icomoon-font-name}.svg?7sxir3#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    [class^='#{$icomoon-prefix}'],
    [class*='#{$icomoon-prefix}'] {
        @include icomoon-base();
    }

    @each $icon, $content in $icons {
        #{unquote('.' + $icomoon-prefix + $icon)} {
            &:before {
                content: $content;
            }
        }
    }
}
