@import '../config';
@import '../partials';

/* Main */

.main {
    flex-grow: 1;
}

/* Wrapper */

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}