@import '../config';
@import '../partials';

/* Modal */

.modal {
    width: 600px;
    max-width: 100%;
    border-radius: $radius;
    @include shadow();
    display: none;

    @include mo(xs) {
        border-radius: 0;
        box-shadow: none;
    }

    &__title {
        font-size: 32px;
        line-height: 1.25;
        font-weight: bold;
        margin-bottom: 35px;

        @include mo(xs) {
            font-size: 24px;
            margin-bottom: 25px;
            padding-right: 25px;
        }
    }

    &__footer {
        margin-top: 35px;
    }
}
